@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display&display=swap');


html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #4f23c5;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search {
  display: block;
  width: 50px;
  height: 50px;
  background:black;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0px;
  outline: 0;
  transition: opacity, 0.2s; 
}

.open-search:hover {
  background:rgb(202, 155, 52);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}


/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: rgb(134, 134, 134);
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 20px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    width: 160px;
    min-height: 320px;
    height: fit-content;
    display: flex;
    padding: 10px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
  display: flex;
  
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
}

.book-shelf-changer {
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 90px;
  width: 90px;
  height: 30px;
  background: black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
  display: none;
  transition-duration: 0.4s;
}
.book-shelf-changer p {
  padding: 5px;
  font-size: 15px;
  color: white;
  position: absolute;
}

.book-shelf-changer:hover{
  background: rgb(202, 155, 52);
}

.book:hover .book-shelf-changer{
  display: flex;
}
.book:hover .book-cover{
    opacity: 0.3;
    transition: opacity, 0.2s;
  }

.book-shelf-changer select {
  width: fit-content;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */
.book-cover {
  width: 140px;
  height: 200px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}


.header-image {
  width: 100%;
  height: 480px;
  object-fit:cover;
  mix-blend-mode: multiply;
}

.header-container {
  background-color: rgba(57, 53, 97, 0.6);
  position: relative;
  text-align: center;
  width: 100%;
  height: 480px;
}

.header-title {
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 110px;
}

.header-quote {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.header-button {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ffffff; 
  transition-duration: 0.4s;
  text-decoration: none;

}

.header-button:hover {
  background-color: white; 
  color: rgb(202, 155, 52);
  text-decoration: none;
  border: 1px solid white;
}

.search-terms-collection{
  position: relative;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.search-terms-toggle{
  margin: 20px auto;
  width: max-content;
  padding: 10px;
  color:rgb(202, 155, 52);
  border:0;
  transition-duration: 0.4s;
}

.search-terms-toggle:hover{
  color:white;
  background-color: rgb(202, 155, 52);
}

.search-terms-list{
  display:flex;
  flex-wrap: wrap;
}

.search-term{
  outline: 0.1em auto rgba(202, 154, 52, 0.555);
  color: gray;
  padding: 4px 8px;
  margin: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.search-term:hover{
  cursor: pointer;
}